# Terraform
**/.terraform/
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Node/JS
node_modules/
**/node_modules/
dist/
build/
coverage/

# Env files
.env
.env.*
**/.env
**/.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Keep provider locks
!**/.terraform.lock.hcl
